<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SNA</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/materialize/css/materialize.min.css' %}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'assets/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'assets/js/Lightweight-Chart/cssCharts.css' %}">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="{% url 'SNA:index' %}"><i class="large material-icons">insert_chart</i>
                <strong>SNA</strong></a>

            <div id="sideNav" class="waves-effect waves-dark" href=""><i class="material-icons dp48">toc</i></div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1">
                <i class="fa fa-user fa-fw"></i>
                <b>{{ cur_username }}</b>
                <i class="material-icons right">arrow_drop_down</i>
            </a></li>
        </ul>
    </nav>
    <!-- Dropdown Structure 右上角下拉菜单 -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#"><i class="fa fa-user fa-fw"></i>个人中心</a>
        </li>
        <li><a href="{% url 'SNA:login' %}"><i class="fa fa-sign-out fa-fw"></i>退出登录</a>
        </li>
    </ul>

    <!--/. NAV TOP  -->
    <!--/. NAV TOP  -->
<!--    侧边导航栏 -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <!--  此处class active-menu 调整导航栏哪个标签处于选中状态-->
                    <a href="{% url 'SNA:index' %}" class="waves-effect waves-dark">
                        <i class="fa fa-desktop"></i>
                        系统主页</a>
                </li>
                <li>
                    <a href="#" class="active-menu waves-effect waves-dark">
                        <i class="fa fa-table"></i>
                        数据集与任务
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'SNA:index' %}">数据集列表</a>
                        </li>
                        <li>
                            <a href="#">上传数据集</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark">
                        <i class="fa fa-user fa-fw"></i>
                        个人中心
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'SNA:login' %}">切换账号</a>
                        </li>
                        <li>
                            <a href="{% url 'SNA:register' %}">新建账号</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark">
                        <i class="fa fa-sitemap"></i>
                        管理中心
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/admin/auth/user/">用户管理</a>
                        </li>
                        <li>
                            <a href="/admin">数据管理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark">
                        <i class="fa fa-qrcode"></i>
                        关于系统</a>
                </li>

            </ul>

        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
<!--        页面标题 -->
        <div class="header">
            <h1 class="page-header">
                数据集详情
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'SNA:index' %}">数据集与任务</a></li>
                <li class="active">数据集详情</li>
            </ol>

        </div>
<!--        页面内容-->
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                     <div class="card">
                         <div class="card-content">
                             <span class="card-title">{{ dataset.name }}</span>
                             <fieldset>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                                 <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>数据文件</th>
                                            <th>所有者</th>
                                            <th>上传时间</th>
                                            <th>访问权限</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ dataset.path }}</td>
                                            <td>{{ owner }}</td>
                                            <td>{{ dataset.pub_date }}</td>
                                            <td>{{ access_str }}</td>
                                        </tr>
                                    </tbody>
                                </table>


                        {% if own %}
                            <div class="card-action">
                                <br><p>变更访问权限：</p>
                                <form action="{% url 'SNA:d_alter' %}" method="post">
                                    {% csrf_token %}
                                    <div class="switch">
                                            <label>
                                              <p>私有
                                              <input type="checkbox" name="access-switch">
                                              <span class="lever"></span>
                                              公开</p>
                                            </label>
                                         </div>
                                    <input type="text" value="{{ dataset.id }}" name="dataset_id" hidden>
                                    <button type="submit" class="waves-effect waves-light btn blue-grey">
                                            确认
                                    </button>
                                </form>

                            </div>
                        {% endif %}

                    </fieldset>
                           <div class="clearBoth"><br/></div>

						 </div>
						 </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
<!--                COL -->
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-content">
                        <span class="card-title">社交网络分析任务</span>

                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                  <div class="collapsible-header">
                                      <i class="material-icons">filter_drama</i>
                                      社区演化分析
                                  </div>
                                  <div class="collapsible-body" style="display: block;">
{#                                      下拉tag内部的内容 #}
                                      <form action="{% url 'SNA:run_alg' %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" value="社区演化分析" name="task_select" hidden>
                                        <input type="text" value="{{ dataset.id }}" name="dataset_id" hidden>
                                        <div class="card-action">
                                            <p>
                                                  任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...
                                            </p>
                                            <button type="submit" class="waves-effect waves-light btn blue-grey">
                                            <i class="material-icons left">play_arrow</i>
                                                启动任务
                                            </button>
                                        </div>
                                      </form>
                                  </div>
                            </li>
                            <li>
                              <div class="collapsible-header"><i class="material-icons">place</i>
                                  链接预测</div>
                              <div class="collapsible-body">
                                  <div class="card-action">
                                    <p>
                                          任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...任务介绍...
                                    </p>
                                </div>
                              </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-content">
                        <span class="card-title">任务执行记录</span>
                        <div class="table-responsive">
                                <table class="table table-striped">
<!--                                    表头 -->
                                    <thead>
                                        <tr>
                                            <th>任务名</th>
                                            <th>调用算法</th>
                                            <th>执行用户</th>
                                            <th>开始时间</th>
                                            <th>执行状态</th>
                                            <th>执行结果</th>
                                        </tr>
                                    </thead>
<!--                                    数据部分 -->
                                    <tbody>
                                        {% if run_records %}
                                            {% for record in run_records %}
                                            <tr>
                                                <td>{{ record.task_name }}</td>
                                                <td>{{ record.alg_name }}</td>
                                                <td>{{ record.exec_er.username }}</td>
                                                <td>{{ record.exec_datetime }}</td>
                                                <td>{{ record.status }}</td>
                                                <td> {% if record.show_result %}
                                                    <form action="{% url 'SNA:show_result' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="text" value="{{ record.pk }}" name="record_id" hidden>
                                                        <button type="submit" class="waves-effect waves-light btn blue-grey">
                                                            <i class="material-icons left">assessment</i>
                                                                查看结果
                                                        </button>
                                                    </form>
                                                    {% else %} ---
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td>暂无记录</td>
                                            </tr>
                                            {% endif %}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
                </div>
            </div>
            <footer><p>SNA System V2.0 2022. Junhong Wu All rights reserved.</p></footer>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>

<!-- Bootstrap Js -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/materialize/js/materialize.min.js' %}"></script>

<!-- Metis Menu Js -->
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<!-- Morris Chart Js -->
<script src="{% static 'assets/js/morris/raphael-2.1.0.min.js' %}"></script>
<script src="{% static 'assets/js/morris/morris.js' %}"></script>


<script src="{% static 'assets/js/easypiechart.js' %}"></script>
<script src="{% static 'assets/js/easypiechart-data.js' %}"></script>

<script src="{% static 'assets/js/Lightweight-Chart/jquery.chart.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'assets/js/custom-scripts.js' %}"></script>


</body>
</html>