{#<link href="https://cdn.bootcdn.net/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">#}
{#<script src="https://cdn.bootcdn.net/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
{#<script src="https://cdn.bootcdn.net/jquery/3.3.1/jquery.js"></script>#}
{#<script src="https://cdn.bootcdn.net/popper.js/1.15.0/umd/popper.js"></script>#}


<form action="{% url 'SNA:d_detail' dataset.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ dataset.name }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{#        <input type="radio" name="choice" id="choice{{ forloop.counter }}" #}
{#               value="{{ choice.id }}">#}
{#此处替换为上传文件#}
        <label>{{ dataset.path }}</label><br>
        <label>所有者：{{ username }}</label>
</fieldset>
<input type="submit" value="null" hidden>
</form>


<h2>选择分析任务</h2>
{# 此表单用于提交算法执行任务 #}
<form action="{% url 'SNA:run_alg' %}" method="post">
    {% csrf_token %}
    <select name="task_select">
        <option>社区演化分析</option>
{#        <option>节点联系预测</option>#}
    </select>
    <input type="text" value="{{ dataset.id }}" name="dataset_id" hidden>
    <input type="submit" value="启动">
</form>


<h2>任务执行记录</h2>
<table border="1">
{# 表头 #}
  <tr>
    <th>任务名</th>
    <th>调用算法</th>
    <th>开始时间</th>
    <th>执行状态</th>
    <th>执行结果</th>
  </tr>

{# 行 #}
{% if run_records %}
    {% for record in run_records %}
  <tr>
    <td>{{ record.task_name }}</td>
    <td>{{ record.alg_name }}</td>
    <td>{{ record.exec_datetime }}</td>
    <td>{{ record.status }}</td>
    <td> {% if record.show_result %}
        <form action="{% url 'SNA:show_result' %}" method="post">
            {% csrf_token %}
            <input type="text" value="{{ record.pk }}" name="record_id" hidden>
            <input type="submit" value="查看结果">
        </form>
        {% else %} ---
        {% endif %}
    </td>
  </tr>
    {% endfor %}
{% else %}
    <td>暂无记录</td>
{% endif %}

</table>