<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SNA</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/materialize/css/materialize.min.css' %}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'assets/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'assets/js/Lightweight-Chart/cssCharts.css' %}">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="{% url 'SNA:index' %}"><i class="large material-icons">insert_chart</i>
                <strong>SNA</strong></a>

            <div id="sideNav" class="waves-effect waves-dark" href=""><i class="material-icons dp48">toc</i></div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1">
                <i class="fa fa-user fa-fw"></i>
                <b>{{ cur_username }}</b>
                <i class="material-icons right">arrow_drop_down</i>
            </a></li>
        </ul>
    </nav>
    <!-- Dropdown Structure 右上角下拉菜单 -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'SNA:login' %}"><i class="fa fa-sign-out fa-fw"></i>退出登录</a>
        </li>
    </ul>

    <!--/. NAV TOP  -->
    <!--/. NAV TOP  -->
<!--    侧边导航栏 -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <!--  此处class active-menu 调整导航栏哪个标签处于选中状态-->
                    <a href="{% url 'SNA:index' %}" class="active-menu waves-effect waves-dark">
                        <i class="fa fa-desktop"></i>
                        系统主页</a>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark">
                        <i class="fa fa-table"></i>
                        数据集与任务
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'SNA:d_lt_single' %}">数据集列表</a>
                        </li>
                        <li>
                            <a href="{% url 'SNA:d_upload_single' %}">上传数据集</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark">
                        <i class="fa fa-user fa-fw"></i>
                        个人中心
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{% url 'SNA:login' %}">切换账号</a>
                        </li>
                        <li>
                            <a href="{% url 'SNA:register' %}">新建账号</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark">
                        <i class="fa fa-sitemap"></i>
                        管理中心
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/admin/auth/user/">用户管理</a>
                        </li>
                        <li>
                            <a href="/admin">数据管理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'SNA:about_sys' %}" class="waves-effect waves-dark">
                        <i class="fa fa-qrcode"></i>
                        关于系统</a>
                </li>

            </ul>

        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
<!--        页面标题 -->
        <div class="header">
            <h1 class="page-header">
                {{ sys_meta.SYS_ZH_NAME }}<small>（{{ sys_meta.SYS_VERSION }}）</small><br>
                <small>欢迎，{{ cur_username }}</small>
            </h1>
        </div>
<!--        页面内容-->
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                     <div class="card">
                         <div class="card-content">
                             <span class="card-title">现有数据集</span>
                                {% if dataset_lt %}
                                    <ul>
                                {#    从调用该template的view中取得context，填充到此#}
                                    {% for dataset in dataset_lt %}
                                {#        使用template tag "url" 来将url于此处解耦，传入url.py中定义路径的name#}
                                        <li><a href="{% url 'SNA:d_detail' dataset.id %}">{{ dataset.name }}</a></li>
                                {#        替代此语句：<li><a href="/SNA/{{ dataset.id }}/">{{ dataset.name }}</a></li>#}
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No Dataset are available.</p>
                                {% endif %}
                           <div class="clearBoth"><br/></div>

						 </div>
						 </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                     <div class="card">
                         <div class="card-content">
                             <span class="card-title">新建数据集</span>
                             <form action="{% url 'SNA:d_upload' %}" method="post" enctype="multipart/form-data">
                                <input type="file" name="filename">
                                <input type ="text" name ="dataset_name">
                                <input type="checkbox" name="is_private" checked=True>私有
                                <input type="submit">
                                {% csrf_token %}
                            </form>

						 </div>
						 </div>
                </div>
            </div>


            <footer><p>{{ sys_meta.SYS_NAME }} {{ sys_meta.SYS_VERSION }} {{ sys_meta.SYS_YEAR }}. {{ sys_meta.SYS_AUTHOR }} All rights reserved.</p></footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>

<!-- Bootstrap Js -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/materialize/js/materialize.min.js' %}"></script>

<!-- Metis Menu Js -->
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<!-- Morris Chart Js -->
<script src="{% static 'assets/js/morris/raphael-2.1.0.min.js' %}"></script>
<script src="{% static 'assets/js/morris/morris.js' %}"></script>


<script src="{% static 'assets/js/easypiechart.js' %}"></script>
<script src="{% static 'assets/js/easypiechart-data.js' %}"></script>

<script src="{% static 'assets/js/Lightweight-Chart/jquery.chart.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'assets/js/custom-scripts.js' %}"></script>


</body>