{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} fade in">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


<form action="{% url "SNA:login" %}" method="post">
    {% csrf_token %}
    <table border="1">
    {# 行 #}
      <tr>
        <td>用户名</td>
        <td><input type="text" name="username"></td>
      </tr>
      <tr>
        <td>密码</td>
        <td><input type="password" name="password"></td>
      </tr>

        <tr>
        <td><input type="submit" value="登录"></td>
      </tr>
    </table>
</form>

还没有账号？请<a href="{% url "SNA:register" %}">注册</a>